/tests
/debug
/Ronin/Debug
/Ronin.opensdf
/Ronin.sdf
/Ronin.v12.suo
/Ronin/Ronin.vcxproj.user
/Ronin/main.cpp
/Ronin-Controller/Debug
/Ronin-Controller/Ronin-Controller.vcxproj
/Ronin-Controller/Ronin-Controller.vcxproj.filters
/.vs